USE [master]
GO
/****** Object:  Database [Juego]    Script Date: 06/12/2018 20:56:39 ******/
CREATE DATABASE [Juego]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Juego', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Juego.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Juego_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Juego_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Juego].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Juego]
GO
/****** Object:  Table [dbo].[Jugadores]    Script Date: 06/12/2018 20:56:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jugadores](
	[Nombre] [varchar](30) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Puntajes]    Script Date: 06/12/2018 20:56:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Puntajes](
	[Nombre] [varchar](30) NULL,
	[Puntaje] [int] NULL
) ON [PRIMARY]
GO
USE [master]
GO
